.row {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 35px;
  cursor: pointer;
  color:#848391;
}



.index {
  font-size: 12px;
  /* border: 1px solid white; */
}

