.row {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-end;
}

.buttons {
  display: flex;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 1000px;
  justify-content: space-between;
}
.box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 50px; */
  /* width: 50px; */
  font-size: 15px;
  color:#848391;
  margin-left: 1px;
}

.box-value {
background-color: #e9ecf2;
}


.index {
  font-size: 8px;
  /* border: 1px solid white; */
}

