.row {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-end;
}

.buttons {
  display: flex;
  position: fixed;
  background-color: #f7f7f7;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color:#848391;
  margin-left: 1px;
}

.box-value {
background-color: #acc4fc;
}
.searched {
  background-color: #e3e8e8 !important;
}

.edge{
  background-color: turquoise !important;
}
.mid-green{
  background-color: green !important;
}
.mid-violet{
  background-color: violet !important;
}
.mid-red {
  background-color: red !important;
}

.index {
  font-size: 8px;
  color: blue;
}

